.Header {
  background-color: var(--gray-700);
  text-align: center;
  padding: 4rem 0;
}
.Header .logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-dark);
}
.Header .logo i {
  color: var(--color-secondary-dark);
  rotate: -45deg;
  translate: 0 3px;
}
.Header .logo .point {
  color: var(--color-primary);
}
